html
body
  background-image: url("/img/parchment.png")

.navbar
.sidebar
.links
  background-image: url("/img/wood.png")

.search-box input
  background-color: $searchBoxBackground !important
  border-color: $searchBoxBorder !important

.page
  color: $textColorContent !important

.page a:link
.page a:visited
.page .icon.outbound
  color: $accentColorContent !important

.header-anchor
  color: $accentColorContent !important
